---
author: Frontend Team
ourTeam: My Team
---
{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content pt-40">
    {% include 'modules/mod-banner-internal.html' %}
    {% include 'modules/mod-hello-world.html' %}
    <h3>{{title}}</h3>
    <p>{{contentP}}</p>
    <img
      data-src="https://cdn.agilitycms.com/9th-wonder/MediaGroupings/15/nha-trang-1.jpg"
      src="{{imagesBase64}}"
      alt="name image"
      class="lazy"
    />
    <h4>{{banner}}</h4>
    <h5>{{interJs}}</h5>

</main>

{% endblock %}
